<!DOCTYPE html>
<html>
  <head>
    <title>Alocasia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <h1>
      <img src=image_path('alocasia.jpeg') />
    </h1>
    <%= yield %>
  </body>
</html>
